  <%- include( '../../partials/header-admin') %>

   <main class="main-container">
    <div class="contenedor_login">
      <h1>INGRESAR A MI CUENTA</h1>
      <div class="email_login">
          <label for="">Email:</label>
          <input type="email" placeholder="johndoe@correo.com">
      </div>
      <div class="password_login">
          <label for="">Contraseña:</label>
          <input type="password">
      </div>
      <div class="ingresar_rec_login">
              <button>INGRESAR</button>
              <div class="checkbox_login">
                  <input type="checkbox">
                  <label for="">Recordarme</label>
          </div>
      </div>
      <a href="">Olvide mi contraseña</a>
      
  </div>
   </main>

   <%- include( '../../partials/footer') %>
