   <%- include( '../../partials/header-admin') %>

   <main class="main-container">
    <div class="contenedor_crear_cuenta">
      <h1>CREA TU CUENTA</h1>
      <p>Completa el formulario para ser parte del mundo de los Funkos</p>
      <div class="nombre_crear">
          <label for="">Nombre:</label>
          <input type="text" placeholder="John">
      </div>
      <div class="apellido_crear">
          <label for="">Apellido:</label>
          <input type="text" placeholder="Doe">
      </div>
      <div class="email_crear">
          <label for="">Email:</label>
          <input type="email" placeholder="johndoe@correo.com">
      </div>
      <div class="password_crear">
          <label for="">Contraseña:</label>
          <input type="password" placeholder="">
      </div>
      <div class="password_crear">
          <label for="">Repita contraseña:</label>
          <input type="password">
      </div>
      <div class="ingresar_rec_login">
              <button>INGRESAR</button>
              <div class="checkbox_login">
                  <input type="checkbox">
                  <label for="">Acepto</label>
          </div>
          <a href="">Terminos y condiciones</a>
      </div>
    
      
  </div>
   </main>

   <%- include( '../../partials/footer') %>
