   <footer class="footer">
      <nav class="navbar hf_container">
        <ul class="navbar__footer">
          <li class="navbar__item">
            <a class="navbar__link" href="/shop">SHOP</a></li>
          <li class="navbar__item">
            <a class="navbar__link" href="/auth/register">REGISTRARSE</a></li>
          <li class="navbar__item">
            <a class="navbar__link" href="/auth/login">LOGIN</a></li>
          <li class="navbar__item">
            <a class="navbar__link" href="/contact">CONTACTO</a></li>
        </ul>
        <picture><img src="/images/branding/isotype.svg" alt="" /></picture>
      </nav>
      <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
   </footer>

   <script src="" async defer></script>
   <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"> </script>
   <script src="../../js/item.js" ></script> <!-- aca??? PERO solamente es para item.ejs -->
   <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
       <script>
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 30,
            breakpoint: {
                991: {
                    perView: 2
                },
                768: {
                    perView: 1
                }
            } 
        }).mount();
       </script>
 
  </body>
</html>
   